* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Karla", sans-serif;
}

.header {
  height: 65px;
  display: flex;
  background-image: linear-gradient(to right, #672280, #a626d3);
  padding: 0;
  color: white;
}

.header--brand {
  display: flex;
  flex: 1;
}

.header--brand > h3 {
  letter-spacing: -1px;
}

.header--brand_img {
  align-self: center;
  padding-left: 1rem;
  min-width: 31px;
  height: 27px;
}

.header--brand_title {
  padding-left: 7px;
  align-self: center;
}

.header--text {
  align-self: center;
  padding-right: 1.25rem;

  font-weight: bold;
}
